<div class=".navbar-lewagon"></div>
<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="card-category-show">
    <h1>Save any kind of movies</h1>
  </div>
</div>

<div class=".active">
<table>
  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td class=".active"><%= list.name %></td>
        <td><%= link_to 'Show', list %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'list', new_list_path, class: 'btn btn-flat' %>
